@import url('https://fonts.googleapis.com/css?family=PT+Sans');


.App {
  /* text-align: center;
  background-color: #7bb062; */
  /* background-size: cover;
  background-position: center center;
  background-attachment: fixed; */
}

body {
  font-family: 'PT Sans';
}

ul {
  list-style-type: none;
}

.h1,
h2,
h3,
h4,
h5 {
  font-family: 'PT Sans';
}

