.contact {
  background-image: url('/img/contact.jpg');
  margin-top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.contact-container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: auto;
  background: white;
  padding: 60px;
  border-radius: 8px;
  height: auto;
  min-height: 40vh;
  width: 32%;
  font-weight: 600;
  opacity: .95;
}

.button-green {
  background-color: #7bb062 !important;
  color: black !important;
  border: #7bb062 !important;
  padding: 10px !important;
  text-decoration: none !important;
  display: inline-block !important;
  font-size: 20px !important;
}
