.body {
  font-family: 'Arial';
  text-align: center;
}

.dashboard {
  background-color: #7bb062;
  text-align: center;
  width: 100vw;
  height: 300vh;
  margin-bottom: 20px;
}

.dashboard-container {
  text-align: center;
  margin-top: 0;
}

.card-dash {
  display: flex;
}

.h1,
h2,
h3,
h4,
h5 {
  font-family: 'Arial';
}

.column {
  margin: 20px;
}

.button-white {
  background-color: white !important;
  color: black !important;
  border: white !important;
  padding: 10px !important;
  text-decoration: none !important;
  display: inline-block !important;
  font-size: 20px !important;
}

.button-green {
  background-color: #7bb062 !important;
  color: black !important;
  border: #7bb062 !important;
  padding: 10px !important;
  text-decoration: none !important;
  display: inline-block !important;
  font-size: 20px !important;
}
