.body {
  font-family: 'Arial';
  text-align: center;
}

.dashboard {
  background-color: #7bb062;
  text-align: center;
  width: 100vw;
  height: 200vh;
}

.dashboard-container {
  text-align: center;
  margin-top: 0;
}

.card-dash {
  display: flex;
}

.h1,
h2,
h3,
h4,
h5 {
  font-family: 'Arial';
}

.btn2 {
  float: right;
}

.column {
  margin: 20px;
}
