.search {
  margin: auto;
}

.input-search {
   width: 500px !important;
   margin-right: 0px;
   box-sizing: content-box;
}

.input-category {
  width: 300px !important;
  box-sizing: content-box;
}
.btn {
  line-height: 2.5 !important;
  width: 200px;
}