.terms-container {
  justify-content: center;
  /* background-color: #7bb062; */
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: auto;
  padding: 0px 150px;
}

p {
  text-align: left;
}

h1 {
  padding-bottom: 40px;
}

h4 {
  padding: 20px 0px;
}

h6 {
  padding : 10px 0px;
}

ol, ul {
  text-align: left;
}

ul {
  list-style-type: circle;
}

